<html>
    <head>
        <title>Piscinas Sob Medida</title>
        <meta name="Rael Piscinas" content="Piscinas Alvenaria e Vinil">
        <meta name="author" content="Rael Nogueira">
        <head>
        <body>
            <h1>Piscina de Alvenaria</h1>
            <h2>Piscina de Vinil</h2>
            <h2>Reforma de piscinas em geral</h2>
            <h2>Construção de ambientes diferenciados</h2>

            <!-- cliente enfatiza -->
            <!-- <p>Realizamos toda a construção da alvenaria e acabamento com perfeição</p> -->
            <p>Realizamos toda a <strong>construção</strong> da alvenaria e <strong>acabamento</strong> com perfeição</p>
            <p>Sua piscina de <em>Vinil</em> ou de <em>alvenaria</em> sem complicação</p>
            <p>Sua piscina de <span style="color:blue">vinil</span> ou de <span style="color:blue">alvenaria</span></p>

            <a target="_blank" href="https://instagram.com/construtorisrael?igshid=OGQ5ZDc2ODk2ZA=="> @construtorisrael</a>

            <img src="img/piscina em alvenaria.jpg" width="200" height="200" alt="Piscina em alvenaria e borda infinita">

            <ol>
                <li>Projeto na Planta</li>
                <li>Mão de Obra</li>
                <li>Material</li>
                <li>Orçamento</li>
            </ol>

            <ul>
                <ul>Telefone</ul>
                <ul>E-mail</ul>
                <ul>Site</ul>
            </ul>
        </body>
        </html>
